@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

body{
  background-image: url('images/slogan_background.jpeg');
  background-color: rgb(24, 26, 27);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}

header{
  display: flex;
  justify-content: center;
  gap: 10vw;
  background-color: rgba(0, 0, 0, 0.6);
}header > a {
  text-decoration: none;
}header > a > p{
  color: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 2vw;
}


main{
  margin-top: 40vh;
}p{
  font-family: "Roboto Slab";
}

#slogan{
  display: flex;
  justify-content: center;
  height: 60vh;
}

#slogan > div > h1{
  font-size: 7vw;
}

#slogan > div{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  width: 90vw;
  height: 20vh;
  text-align: center;
  border: 1px solid;
  justify-content: center;
}
.profissions{
  display: flex;
  justify-content: center;
  gap: 4vw;
  
}#slogan > div > div > h2{
  font-weight: 300;
}


#aboutMe{
  background-color: rgb(24, 26, 27);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgAndText{
  display: flex;
  position: relative;
  justify-content: center;
  gap: 2vw;
}
.text{
  width: 39vw;
  text-align: justify;
  align-self: center;
  font-weight: 600;
  font-family: "Roboto Slab";
}.text > a {
  color: rgb(48, 48, 219);
  text-decoration: underline;
}.text > p > a{
  color: rgb(86, 255, 86);
}

.descricao{
  font-weight: 100;
  text-align: end;
}
.img{
  width: 40%;
  height: 100%;
  display: flex;
  align-self: center;
}


#services{
  background-color: rgb(24, 26, 27);
  display: flex;
  justify-content: center;
  position: absolute;
}
#services > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  position: relative;
  margin-bottom: 10vh;
}#services > div > img{
  width: 20%;
}#services > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}#services > div > div > p{
  font-size: 1vw;
  text-align: center;
}


#portfolio{
  background-color: rgb(24, 26, 27);  
  height: 70vw;
}#portfolio > div{
  margin-top: 90vh;
  position: relative;
  top: 10vh;
}#portfolio > div > h2{
  text-align: center;
  font-size: 4vw;
  font-family: sans-serif;
  font-weight: 700;
}#portfolio > div > div{
  position: absolute;
  top: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}
#portfolio > div > div > a > img{
  width: 30vw;
  border-radius: 1vw;
}


#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  background-color: rgb(24, 26, 27);  
  margin-top: 30vh;
  height: 40vh;
}#contact > p, a > p{
  text-align: center;
}