@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

@media only screen and (min-width: 901px){
	
	body::-webkit-scrollbar{
		display: none;
	}
	
	body{
		background-image: url('images/slogan_background.jpeg');
		background-color: rgb(24, 26, 27);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		color: white;
	}
	
	header{
		display: flex;
		justify-content: center;
		gap: 10vw;
		background-color: rgba(0, 0, 0, 0.6);
	}header > a {
		text-decoration: none;
	}header > a > p{
		color: white;
		margin-top: 2vh;
		margin-bottom: 2vh;
		font-size: 2vw;
	}
	.mobileMenu{
		display: none;
	}
	
	
	main{
		margin-top: 40vh;
	}p{
		font-family: "Roboto Slab";
	}
	
	#slogan{
		display: flex;
		justify-content: center;
		height: 60vh;
	}
	
	#slogan > div > h1{
		margin: 0px;
		font-size: 7vw;
	}
	
	#slogan > div{
		display: flex;
		padding: 1vw;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.6);
		width: 90vw;
		height: 20vh;
		text-align: center;
		border: 1px solid;
		justify-content: center;
	}
	.profissions{
		display: flex;
		justify-content: center;
		gap: 4vw;
		
	}#slogan > div > div > h2{
		font-weight: 300;
	}
	
	
	#aboutMe{
		background-color: rgb(24, 26, 27);
		height: 60vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.imgAndText{
		display: flex;
		position: relative;
		justify-content: center;
		gap: 2vw;
	}
	.text{
		width: 39vw;
		text-align: justify;
		align-self: center;
		font-weight: 600;
		font-family: "Roboto Slab";
	}.text > a {
		color: rgb(48, 48, 219);
		text-decoration: underline;
	}.text > p > a{
		color: rgb(86, 255, 86);
	}
	
	.descricao{
		font-weight: 100;
		text-align: end;
	}
	.img{
		width: 40%;
		height: 100%;
		display: flex;
		align-self: center;
	}
	
	
	#services{
		background-color: rgb(24, 26, 27);
		display: flex;
		justify-content: center;
		position: absolute;
	}
	#services > div{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10vh;
		position: relative;
		margin-bottom: 10vh;
	}#services > div > img{
		width: 20%;
	}#services > div > div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}#services > div > div > p{
		font-size: 1vw;
		text-align: center;
	}
	
	
	#portfolio{
		background-color: rgb(24, 26, 27);  
		height: 70vw;
	}#portfolio > div{
		margin-top: 90vh;
		position: relative;
		top: 10vh;
	}#portfolio > div > h2{
		text-align: center;
		font-size: 4vw;
		font-family: sans-serif;
		font-weight: 700;
	}#portfolio > div > div{
		position: absolute;
		top: 15vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2vw;
	}
	#portfolio > div > div > a > img{
		width: 30vw;
		border-radius: 1vw;
	}
	
	
	#contact{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2vh;
		background-color: rgb(24, 26, 27);  
		margin-top: 30vh;
		height: 40vh;
	}#contact > p, a > p{
		text-align: center;
	}
}






@media only screen and (max-width: 900px){
	
	main{
		display: flex;
    flex-direction: column;
    align-items: center;
	}

	img{width: 1%;}

	body{
		background-image: url('images/slogan_background.jpeg');
		background-color: rgb(24, 26, 27);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
	}

	header{
		width: 0px;
	}

	header > a{
		display: none;
	}

	#slogan{
		display: block;
		border: 1px solid;
		border-color: white;
		width: 98vw;
		font-family: sans-serif;
		background-color: rgba(0, 0, 0, 0.6);
		display: flex;
    flex-direction: column;
    align-items: center;
		position: relative;
		top: 30vw;
		border-radius: 5vw;
		margin-top: 22.5vw;
		margin-bottom: 50vw;
	}#slogan > div{
		text-align: center;
	}#slogan > div > h1{
		font-size: 10vw;
	}#slogan > div > div > h2{
		font-weight: 300;
	}


	#aboutMe{
		margin-top: 50vw;
		background-color: rgb(24, 26, 27);  
		width: 100vw;
	}#aboutMe > div{
		display: flex;
    flex-direction: column;
		align-items: center;
		margin-top: 1vw;
		text-align: justify;
	}#aboutMe > div > img{
		width: 90vw;
	}#aboutMe > div > text{
		margin-top: 10vw;
		width: 90vw;
		display: inline;
    flex-direction: column;
    justify-content: center;
		text-align: inherit;
	}#aboutMe > div > text > p > a{
		color: green;
	}


	#services{
		width: 100%;
		background-color: rgb(24, 26, 27);  
		display: flex;
		flex-direction: column;
		gap: 20vw;
		padding: 20vw 0px 20vw 0px;

	}#services > div{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2vw;
	}#services > div > div{
		display: flex;
		flex-direction: column;
		align-items: center;	
		text-align: center;
	}h3{
		margin: 0px;
	}p{
		margin: 0px;
	}
	#services > div >img{
		width: 20vw;
	}


	#portfolio{
		margin-top: 50vw;
		background-color: rgb(24, 26, 27);  
		width: 100vw;
	}
	#portfolio > div {
		margin-bottom: 10vw;
	}
	#portfolio > div.content > h2{
		text-align: center;
		font-size: 12vw;
	}
	#portfolio > div > div{
		display: flex;
		flex-direction: column;
    align-items: center;
    gap: 5vw;
	}
	#portfolio > div > div > a > img{
		width: 80vw;
		border-radius: 3vw;
	}


	#contact{
		width: 100%;
		background-color: rgb(24, 26, 27);  
		margin-top: 20vw;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 5vw;
		padding: 10vw 0vw 5vw 0vw;
	}
}